<div class="contact">
    <div class="contact-box">
    <span class="contact-title size35 size31 size22 size18">Wir freuen uns über Ihre Anfragen, Wünsche und Anregungen.</span>

    <p class="contact-text size40 size35 size31 size22 size18">Waldkindergarten Wielenbach</p>
    <p class="contact-text size40 size35 size31 size22 size18">Unsere Email Adresse</p>
    <a class="contact-email size40 size35 size31 size22 size18" href="mailto:wakiwi@akitz.de">wakiwi@akitz.de</a> <br> <br>
    <p class="contact-text size40 size35 size31 size22 size18">Anruf oder Whatsapp</p>
    <a class="contact-email size40 size35 size31 size22 size18" href="tel:+4917685947046"> Tel. +49 176 859 470 46</a>
    </div>
</div>