<div class="home-text">
    <span class="home-secound-title size45 size40 size37 size35 size27 size22 size17">Herzlich Willkommen</span>

    <p class="first-text size28 size25 size22 size17">Unsere Öffnungszeiten</p>
    <div class="open-time">
        <table class="table">
            <tr class="table-title size25 size22 size17">
                <th>Tag</th>
                <th>Von</th>
                <th>Bis</th>
            </tr>

            <tr class="size25 size22 size17">
                <td>Montag</td>
                <td>08:00</td>
                <td>15:00</td>
            </tr>
            <tr class="size20 size15">
                <td>Dienstag</td>
                <td>08:00</td>
                <td>15:00</td>
            </tr>
            <tr class="size20 size15">
                <td>Mittwoch</td>
                <td>08:00</td>
                <td>15:00</td>
            </tr>
            <tr class="size20 size15">
                <td>Donnerstag</td>
                <td>08:00</td>
                <td>15:00</td>
            </tr>
            <tr class="size20 size15">
                <td>Freitag</td>
                <td>08:00</td>
                <td>13:00</td>
            </tr>

        </table>
    </div>

    <div class="first-text size25 size22 size15"> 
        Weitere Informationen befinden sich in unserer <div class="download-konzept size25" onclick="openDownloads()">Konzeption.</div>
    </div>

    <p class="first-text size25 size22 size15"> Wir freuen uns, von euch zu hören.</p>

</div>