<div class="downloads-box">
<div class="downloads">
<span class="konzeption size31 size22">Konzeption </span>
<p class="download-text size31 size22">Lesen sie hier unsere <a class="pdf-konzept" href="/assets/downloads/Waldkindergarten Wielenbach Konzeption Stand 11-23.pdf" target="_blank">Konzeption</a>.</p>
</div>

<div class="downloads">
    <span class="konzeption size31 size22">Infoschreiben </span>
    <p class="download-text size31 size22">Lesen sie hier unser <a class="pdf-konzept" href="/assets/downloads/Infoschreiben Eltern WaKiWi Stand 23-10-23.pdf" target="_blank">Infoschreiben</a>.</p>
    </div>

</div>