<div class="location-container">

    <span class="location-actuel-news size22 size18">Momentan befindet sich der Waldkindergarten noch im Aufbau und ist daher vorrübergehend im alten Rathaus Wielenbach untergebracht.</span>
    <div class="background-map">
    <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1669.5824806526218!2d11.15901724890049!3d47.8740368682979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479dca94c5255e17%3A0xd6ae7740a001fbdb!2sGemeinde%20Wielenbach!5e1!3m2!1sen!2sde!4v1698949063213!5m2!1sen!2sde" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!--
    <p class="wichtig">Wichtige Informationen zur Anfahrt in den Wald:</p>
    <p class="atentione">Es ist strengstens untersagt, dass Eltern mit dem Auto in den Wald fahren.</p>
    <p class="atentione">Die Befahrung der Waldstraße ist ausschließlich folgenden Personen und Organisationen erlaubt:</p>
    <ul class="list">
      <li>Rettungskräfte (Polizei, Feuerwehr, Krankenwagen / Notarzt)</li>
      <li>Land- und Forstwirtschaft</li>
      <li>Mitarbeiter des Kindergartens Akitz</li>
    </ul>
    <p class="atentione">Zuwiderhandlungen werden entsprechend geahndet!</p>

    
    <h1 class="location-title">So findet ihr uns</h1>

    <img src="/assets/img/waki-wielenbach.png">
    
    <div class="location-description">Sie fahren bis zu diesen Häuschen und parken dort. <br>
        Danach gehen  Sie in den Wald zum Wasserbehälter der Stadt Wielenbach. <br>
        Dort werden Ihre Kinder entsürechend in Empfang genommen.</div>
<p class="coordinaten"> Google Coordinaten lauten: 47.861590, 11.172638</p>

<span class="location-screen">Fotos sind Screenshots von google maps !!!</span>
</div>

-->