<div class="team-body">

    <script src="/assets/js/team.js"></script>

    <!-- <div class="team-header">
        <h1>Wir beschreiben uns in kurzen Sätzen</h1>
    </div> -->

    <div class="team-description description-member">
        <img id="showMembers1" onclick="showMembers('showMembers1')" class="team-img " src="assets/img/sophie.jpg" alt="">
<div class="team-sub-description">
        <span  class="team-name size31 size22 size18">Sozialpädagogin <br><br> Sophie Hölzl</span>

        <p>          
            Sowohl privat als auch im Beruf bin ich am liebsten draußen unterwegs. <br> Zu meinen Hobbys zählen Klettern, Bergwandern, Stand up Paddling 
            und Radfahren, aber auch mit Musizieren oder Backen verbringe ich gerne meine Freizeit. <br>
            Wie es nach der Schule weitergehen sollte, stand für mich bereits in der 5. Klasse fest. <br>
            Nach dem Abitur habe ich Soziale Arbeit studiert und eine Ausbildung zur Umwelt- und Erlebnispädagogin absolviert. <br>
             Neben dem Studium habe ich außerdem die Qualifikation zur Inklusionsbegleiterin erlangt. <br>
            Dass mich dieser Weg schließlich hierher gebracht hat, macht mich sehr glücklich. 
            <br>Denn hier im Waldkindergarten kann ich meine Leidenschaft für die Kinder- und Jugendarbeit und meine Begeisterung für die Natur 
            verbinden, immer in der Hoffnung, die Entwicklung der Kinder damit zumindest ein ganz kleines Stückchen prägen zu können.
        </p>
</div>
    </div>

    <div class="team-description description-member">
        <img id="showMembers2" onclick="showMembers('showMembers2')" class="team-img" src="assets/img/vroni.jpg" alt="">
        <div class="team-sub-description">
        <span class="team-name size31 size22 size18">Erzieherin <br><br> Vroni Knab</span>

        <p>
            Ich bin sehr naturverbunden und bin gerne drau&szlig;en bei Wind und Wetter unterwegs. <br>
            Mit der Familie und den zwei Hunden gehe ich zum Geocaching und Klettern. <br>
            Ich freue mich darauf mit den Kindern den Jahreskreislauf der Natur zu erleben und zu gestalten. <br>
            Die Natur ist eine wunderbare Energietankstelle, wo man zur Ruhe kommen kann und seine Gedanken sortiert. <br>
            Mein Ziel ist, dass auch die Kinder diese tolle Erfahrung machen können.
        </p>
        </div>
    </div>

    <div class="team-description description-member">
        <img id="showMembers3" onclick="showMembers('showMembers3')" class="team-img" src="assets/img/Nicole.jpg" alt="">
<div class="team-sub-description">
        <span class="team-name size31 size22 size18">Kinderpflegerin <br><br> Nicole Fechner</span>

        <p>
            
            Mein Motto nach 30 j&auml;hriger Berufserfahrung in zwei Einrichtungen der evangelischen Kirche lautet: <br> <br>
            <b><i>Zeit f&uuml;r etwas Neues</i></b> <br><br>
            
            Meine Familie und ich lieben die Natur, gehen viel in die Berge, klettern und radeln. <br>
            Neugierig bleiben, Neues ausprobieren und erleben, ist ein gro&szlig;er Lebensinhalt f&uuml;r mich. <br>
            Durch die Zusatzausbildung als zertifizierte Psychomtorikerin m&ouml;chte ich die Wahrnehmung und die kognitiven Prozesse der Kinder auch im Wald mit der Bewegung vereinen. <br>
            Ich freue mich sehr auf die Zeit mit Ihnen und Ihren Kindern! <br>
        </p>
     </div>   
    </div>

    <div class="team-description description-member">
        <img id="showMembers4" onclick="showMembers('showMembers4')" class="team-img" src="assets/img/elena.jpg" alt="">
<div class="team-sub-description">
        <span class="team-name size31 size22 size18">P&auml;dagogische Hilfskraft <br><br> Elena Hartdegen</span>

        <p>
            Derzeit bin ich als p&auml;dagigische Hilfskraft im Waldkindergarten angestellt, um Erfahrungen für meine anstehende Ausbildung zur Erzieherin zu sammeln. <br>
            Da ich die Arbeit mit Menschen sehr liebe, bin ich momentan auch als Sanitätshelferin freiwillig unterwegs. <br>
            Ich selbst komme aus einer gro&szlig;en Familie mit vier Geschwistern. <br>
            Daher freue ich mich schon sehr auf Sie und Ihre Kinder.
        </p>
</div>
    </div>
</div>